<div class="container">
  <div class="botones">
    <button class="boton" (click)="cargarTickets()">Traer Todos</button>
    <!-- Los demás botones... -->
  </div>
  <div class="respuesta">
    {{ infoSeleccionada }}
    <div class="datos-cliente" *ngFor="let ticket of tickets">
      <h3>Datos del Cliente</h3>
      <p><b>Nombre:</b> {{ ticket.cliente.nombre }}</p>
      <p><b>Apellido:</b> {{ ticket.cliente.apellido }}</p>
      <!-- Agrega más detalles del cliente según sea necesario -->
    </div>
  </div>
</div>
