.container {
    display: flex;
    height: 100vh;
  }
  
  .botones {
    flex: 1;
    display:flex;
    flex-direction:column;
    align-items:start; 
    padding: 10px;
    justify-content:space-around;
  }
  
  .boton {
    margin-bottom: 60px;
  }
  
  .respuesta {
    flex: 1;
    border-left: 2px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content:initial;
  }

  .datos-cliente {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  